<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - CampusFinder</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="no-activity-container">
		<h1>No activity detected...</h1>
		<p>If you are far from the screen, move closer to the screen.</p>
		<p>If you are too close to the screen, move a bit farther.</p>
	</div>
    <!--<script src=""></script>-->
</body>
</html>