<!DOCTYPE html>
<html>
<head>
	<title>My Web Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="questionnaire-container">
		<h1>What are you looking for?</h1>
		<div id="option-food" class="question-option">
			<p>Food</p>
			<p>Raise Left Hand</p>
		</div>
		<div id="option-study-spot" class="question-option">
			<p>Study Spot</p>
			<p>Raise Right Hand</p>
		</div>
		<div id="option-cultural-spot" class="question-option">
			<p>Cultural Spot</p>
			<p>Raise Both Hands</p>
		</div>
	</div>
</body>
</html>